<div class="col text-center2">
    
    <div class="jumbotron">
        <h1 class="display-6">The Indefinite Articles</h1> 
        <p class="lead">
            The indefinite articles <b>"a/an"</b> means <b>"un/una"</b>.
            <br>
            If the next word begins with a vowel sound, you use <b>"an"</b> if not you use <b>"a"</b>.
        </p>
        <p><b>Example:</b></p>
        <ul>
            <li>A university  -  Una universidad</li>
            <li>A hotel  -  Un hotel</li>
            <li>An hour  -  Una hora</li>
            <li>An ant  -  Una hormiga</li>
        </ul>

        <hr class="my-4">

        <h1 class="display-6">The Definite Articles</h1> 
        <p class="lead">
            The defined article <b>"the"</b> means <b>"el/la/los/las"</b>.
        </p>
        <!-- <hr class="my-4"> -->
        <p><b>Example:</b></p>
        <ul>
            <li>The girl  -  La niña</li>
            <li>The book  -  El libro</li>
            <li>The school  -  La escuela</li>
            <li>The Unit  -  La unidad</li>
        </ul>

    </div>

</div>