<div *ngIf="lesson" [ngSwitch]="option">
    <!-- CLASS LESSON -->
    <div *ngSwitchCase="'class'" [ngSwitch]="lesson.lessonType.id">

        <div class="col text-center fixedheader">
            <span class="ico-tab-lesson {{lesson.icon}}"> {{lesson.name | capitalize}}</span>
            <hr>
        </div>

         <!-- <div class="col">
            <button routerLink="/home" class="btn btn-primary"><span class="icon-home"></span> Home</button>
            <button class="btn btn-primary" (click)="changeOption('config')"><span class="icon-redo2"></span> Exam</button>
        </div> 

        <br> -->
        
        <!-- *** LESSON - GRAMMAR *** -->
        <lesson-grammar *ngSwitchCase="'1'" [id]="lesson.id" (length)="getLength($event)"></lesson-grammar>

        <!-- *** LESSON - GRAPHICS IMAGES *** -->
        <lesson-graphics-images *ngSwitchCase="'2'" [id]="lesson.id" (length)="getLength($event)"></lesson-graphics-images>

        <!-- *** LESSON - GRAPHICS TEXTS *** -->
        <lesson-graphics-texts *ngSwitchCase="'3'" [id]="lesson.id" (length)="getLength($event)"></lesson-graphics-texts>
        

        <!-- *** LESSON - CUSTOM *** -->
        <div *ngSwitchCase="'4'" [ngSwitch]="lesson.id">
            <!-- COLORS -->
            <lesson-colors *ngSwitchCase="'2_1'" [id]="lesson.id" (length)="getLength($event)"></lesson-colors>
            <!-- ARTICLES -->
            <lesson-articles *ngSwitchCase="'9_1'" [id]="lesson.id" (length)="getLength($event)"></lesson-articles>
            <!-- REGULAR VERBS -->
            <lesson-verbs *ngSwitchCase="'13_1'" [id]="lesson.id" (length)="getLength($event)"></lesson-verbs>
            <!-- IRREGULAR VERBS -->
            <lesson-verbs *ngSwitchCase="'13_2'" [id]="lesson.id" (length)="getLength($event)"></lesson-verbs>
        </div>

        <!-- *** LESSON - VOCABULARY *** -->
        <lesson-vocabulary *ngSwitchCase="'5'" [id]="lesson.id" (length)="getLength($event)"></lesson-vocabulary>
    
        <!-- FOOTER -->
        <footer class="fixedfooter">
            <hr>
            {{option}}
            <div class="col text-center">
                <button routerLink="/home" class="btn btn-primary"><span class="icon-home"></span> Return home</button>
                <button class="btn btn-primary" (click)="changeOption('config')"><span class="icon-redo2"></span> Go to the exam</button>
            </div>
            <br>
        </footer>
    </div>
    <!-- CONFIG EXAM -->
    <config-exam *ngSwitchCase="'config'" [lesson]="lesson" (option)="getOption($event)" (configExam)="getConfigExam($event)"></config-exam>
    <!-- EXAM -->
    <exam *ngSwitchCase="'exam'" [id]="lesson.id" [configExam]="configExam" [vocabularyType]="vocabularyType" (optionEvent)="getOption($event)" (examToScoreEvent)="getExamToScoreEvent($event)"></exam>
    <!-- SCORE -->
    <score *ngSwitchCase="'score'" [examToScoreEvent]="examToScoreEvent" (optionEvent)="getOption($event)"></score>
</div>