.ico-tab-lesson {
    font-size: 30px;
    text-transform: capitalize;
}

.content {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

.header-cont {
    width:100%;
    position:fixed;
    top:0px;
}

/*.fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background:#e6eecc url(http://localhost/Powersoft/img/background/beige_paper.png) repeat top left;
	padding:10px;
}
.fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	background:#e6eecc url(http://localhost/Powersoft/img/background/beige_paper.png) repeat top left;
    padding-bottom:10px;
}*/




.border-item{
    border: 1px dashed grey;
    padding: 5px;
    margin: 5px;
}
.div-class{
    height: 100px;
    margin: 5%;
    border-radius: 50%;
}
.div-class-text{
    text-align: center; 
    vertical-align: middle; 
    position: relative;
}
.div-class-img{
    height: 130px;
    margin: 5%;
}
.border-item{
    border: 1px dashed grey;
    padding: 5px;
    margin: 5px;
}
img.resize{
    width: 170px;
    height: 130px;
    border-radius: 6px;
}
.input-group-addon.icon-volume-medium:hover{
    color: #286090;
}