<table class="table table-striped table-condensed table-hover-leo">
        <thead class="thead-blue">
        <tr class="text-center">
            <th>#</th>
            <th class="text-center">ENGLISH PRESENT</th>
            <th class="text-center">ENGLISH PAST</th>
            <th class="text-center">ENGLISH PAST PARTICIPLE</th>
            <th class="text-center">SPANISH</th>
        </tr>
        </thead>
        <tbody style="font-size: 13px;" >
        <tr *ngFor="let verb of verbs; let i = index;">
            <td class="text-center">{{i+1}}</td>
            <!--ENGLISH PRESENT-->
            <td>
                <span *ngIf="verb.englishPresentSound" class="icon-volume-medium">
                    holaa sonido
                </span>
                {{verb.englishPresentValue}}
            </td>
            <!--ENGLISH PAST-->
            <td>{{verb.englishPastValue}}</td>
            <!--ENGLISH PAST PARTICIPLE-->
            <td>{{verb.englishPastParticipleValue}}</td>
            <!--SPANISH-->
            <td>{{verb.spanishValue}}</td>            
        </tr>
        </tbody>
      </table>

      